body {
font-size: 12px;
overflow: hidden;
}
.headBar{
font-size: 14px;
font-weight: bold;
}
.infoTable{
border: 1px solid #2196f3;font-size:12px;width:100%;
}
#titlePane{
    z-index: 10; position: absolute; top:0px;  left: 0px; width:100%; height:30px;
    font-size:12px;
}
#toolPane{
z-index: 10; position: absolute; top:30px;  left: 0px; width:100%; height:40px;
font-size:14px;
}
.iconBtn{
margin-left: 10px;
cursor: pointer;
}
.btn{
background-color: #3992ff; /* Green */
/* border-radius: 6px; */
border: none;
color: white;
padding:4px 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
table thead td{
    text-align: center;
}
table td{
    border-bottom: 1px solid #e4e4e4;
    text-align: center; 
}

.menu-nav {
    display: flex; 
    flex-direction: row;
    padding-left: 10px;
    margin-bottom: 0;
    list-style: none;
}

.menu-nav .menu-item {
    margin-right: 7px;
    list-style: none;
    cursor: pointer;
}

tr.selected{
    background-color: burlywood;
}

div.datalist{
    width:100%;
    height: 100%;
    overflow: scroll;
}